*.pyc
*~
client_secrets.json
analytics.dat
access.*
*.seg
*.swp
*.swo
*.log
fixtures/*.json
logseo/local_settings.py
logseo/static/*
filesofgit.txt
logseoapp/tests/*
ko-install-notes.txt
logseoapp/gapi/*
