apachelog==1.1 # used for custom management command to parse logs and load db
Django==1.4
python-dateutil==2.1
django-qsstats-magic==0.7.1 #django-qsstats-magic, in installed apps as qsstats
south==0.7.6
django-taggit  #
python-memcached
johnny-cache==1.4
numpy==1.6.2
pyyaml==3.10
nltk==2.0.1

