            <form method="get" class="form-inline">
                {% csrf_token %}
                <input type="hidden" name="start_date" value="" id="start" />
                <input type="hidden" name="end_date" value="" id="end" />
                <input type="hidden" name="client_list" value="{{ client_id }}" />
                <input type="submit" value="apply" class="pull-right">
            </form>
            <div id="reportrange" class="pull-right">
                
                <i class="icon-calendar icon-large"></i>
                <span>{{ start_date }} - {{ end_date }}</span> <b class="caret"></b>
            </div>


 
<script type="text/javascript">
var last_date = new Date.parse('{{ last_data_date|date:"M d, Y"}}');
var my_year = '{{ last_data_date|date:"Y"}}';
var my_month = '{{ last_data_date|date:"m"}}';
var my_day = '{{ last_data_date|date:"d"}}';
var my_date = new Date(my_year, my_month-1, my_day); //date.js advances one month???


$('#reportrange').daterangepicker(
            {
    ranges: {
        'Last Day': [my_date, my_date],
        'Last Day - 1': [new Date(my_year, my_month-1, my_day).add({ days: -1 }), new Date(my_year, my_month-1, my_day).add({ days: -1 })],
        'Last 7 Days': [new Date(my_year, my_month-1, my_day).add({ days: -6 }), my_date],
        'Last 30 Days': [new Date(my_year, my_month-1, my_day).add({ days: -29 }), my_date],
        'This Month': [new Date(my_year, my_month-1, my_day).moveToFirstDayOfMonth(), new Date(my_year, my_month-1, my_day).moveToLastDayOfMonth()],
        'Last Month': [new Date(my_year, my_month-1, my_day).moveToFirstDayOfMonth().add({ months: -1 }), new Date(my_year, my_month-1, my_day).moveToFirstDayOfMonth().add({ days: -1 })]
        }
    },
    function(start, end) {
    //$('#date_form').val(start);
    $('#reportrange span').html(start.toString('MMMM d, yyyy') + ' - ' + end.toString('MMMM d, yyyy'));
    $('#start').val(start.toString('yyyy-MM-dd'));
    $('#end').val(end.toString('yyyy-MM-dd'));
    
    
    } 
    
);
</script>
