{% extends "base.html" %}
{% block header_scripts %}
<style>


    #Rickshaw
    #chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    #chart,#ips,#se,#lp,#gnew,#grnew,#bnew {
        position: relative;
        left: 80px;
    }
    #number {
        position: relative;
        top: 30px;
        font-size:30px;
        font-weight:bold;
        color:#948C75;
        font-family: "HelveticaNeue-CondensedBlack","Helvetica Neue Condensed Black","Impact",Helvetica,sans-serif;
    }
    #diff {
        position: relative;
        top: 45px;
        font-size:15px;
        font-weight:normal;
        font-family: "HelveticaNeue-CondensedBlack","Helvetica Neue Condensed Black","Impact",Helvetica,sans-serif;
    }

    .negative {
        color:#C40233;
    }
    .positive {
        color:green;
    }

    .rickshaw_graph .detail .x_label { display: none }
    .rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
    .detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
    .rickshaw_graph .detail .date { color: #a0a0a0 }
</style>
{% endblock %}
</head>
<body id="dt_example">

    {% block primary %}
    <div class="container-fluid">
<!-- row ONE -->
      <div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h1>CLIENT NAME HERE<span style="float:right"> {{ week_ago }} to {{ latest_date }}</span></h1>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <h2># of IPs</h2>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="chart_container">
                            <div id="number">{{ ips_cnt }}</div>
                            <div id="diff" class='{% if ip_diff < 1 %} negative {% else %}positive{% endif %}'>{{ ip_diff }}</div>
                            <div id="ips"></div>
                        </div>
                    </div>
                </div>
            </div><!--/span-->
            <div class="span3">
                <h2>Search Engines</h2>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="chart_container">
                            <div id ="number">{{ se_cnt }}</div>
                             <div id="diff" class='{% if se_diff < 1 %} negative {% else %}positive{% endif %}'>{{ se_diff }}</div>
                            <div id="se"></div>
                        </div>
                    </div>
                </div>
            </div><!--/span-->
            <div class="span3">
                <h2>Landing Pages</h2>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="chart_container">
                            <div id ="number">{{ lp_cnt }}</div>
                             <div id="diff" class='{% if lp_diff < 1 %} negative {% else %}positive{% endif %}'>{{ lp_diff }}</div>
                            <div id="lp"></div>
                        </div>
                    </div>
                </div>
            </div><!--/span-->
            <div class="span3">
                <h2>KeyWords</h2>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="chart_container">
                            <div id ="number">{{ last_week_cnt }}</div>
                             <div id="diff" class='{% if  last_week_cnt < 1 %} negative {% else %}positive{% endif %}'>{{ last_week_cnt }}</div>
                            <div id="se"></div>
                        </div>
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
<!-- row TWO -->
        <div class="row-fluid">
            <div class="span12">
                <hr/>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <h2>New Kws</h2>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="chart_container">
                            <div id ="number">{{ kw_new_cnt }}</div>
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                    <tr><td>phrase</td><td>date</td><td>ips</td></tr>
                    {% for dict in kw_new_table %}
                    <tr>
                        <td><a href="/phrase/{{dict.phrase_id}}/" style="text-decoration:none;">{{ dict.phrase_id__phrase }}</a></td>
                        <td>{{ dict.phrase_id__first_seen|date:"m-d-y" }}</td>
                        <td>{{ dict.num_ips }}</td>
                    </tr>
                    {% endfor %}

                </table>
                <a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
                <h2>New Google Kws</h2>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="chart_container">
                            <div id ="number">{{ kw_g_new_cnt }}</div>
                            <div id="gnew"></div>
                        </div>
                    </div>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                    <tr><td>phrase</td><td>date</td><td>ips</td></tr>
                    {% for dict in kw_g_new|slice:":5" %}
                    <tr>
                        <td><a href="/phrase/{{dict.phrase_id}}/" style="text-decoration:none;">{{ dict.phrase_id__phrase }}</a></td>
                        <td>{{ dict.phrase_id__first_seen|date:"m-d-y" }}</td>
                        <td>{{ dict.num_ips }}</td>
                    </tr>
                    {% endfor %}

                </table>
                <a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
                <h2>G Ranked Kws</h2>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="chart_container">
                            <div id ="number">{{ kw_gr_new_cnt }}</div>
                            <div id="grnew"></div>
                        </div>
                    </div>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                    <tr><td>phrase</td><td>date</td><td>ips</td></tr>
                    {% for dict in kw_gr_new|slice:":5" %}
                    <tr>
                        <td><a href="/phrase/{{dict.phrase_id}}/" style="text-decoration:none;">{{ dict.phrase_id__phrase }}</a></td>
                        <td>{{ dict.phrase_id__first_seen|date:"m-d-y" }}</td>
                        <td>{{ dict.num_ips }}</td>
                    </tr>
                    {% endfor %}

                </table>
                <a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
                <h2>New Bing Kws</h2>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="chart_container">
                            <div id ="number">{{ kw_b_new_cnt }}</div>
                            <div id="bnew"></div>
                        </div>
                    </div>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                    <tr><td>phrase</td><td>date</td><td>ips</td></tr>
                    {% for dict in kw_b_new|slice:":5" %}
                    <tr>
                        <td><a href="/phrase/{{dict.phrase_id}}/" style="text-decoration:none;">{{ dict.phrase_id__phrase }}</a></td>
                        <td>{{ dict.phrase_id__first_seen|date:"m-d-y" }}</td>
                        <td>{{ dict.num_ips }}</td>
                    </tr>
                    {% endfor %}

                </table>
                <a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
        </div><!--/row-->
<!-- row THREE -->
        <div class="row-fluid">
            <div class="span12">
                <hr/>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <h2>Missing Kws</h2>
                <p>There were {{ wk_bf_last_cnt }} kws 2 wks ago, and {{ last_week_cnt }} kws last week</p>
                <p>below are 5 of the {{ unique_cnt }} kws that were missing from the prev wk</p>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                    <tr><td>phrase</td><td>prior cnt</td></tr>
                    {% for dict in unique|slice:":5" %}
                    <tr>
                        <td><a href="/phrase/{{dict.phrase_id}}/" style="text-decoration:none;">{{ dict.phrase }}</a></td>
                        <td></td>
                    </tr>
                    {% endfor %}

                </table>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
                <h2>Gaining Bigrams</h2>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                    {% for bigram_tuple in bigram_gainers|slice:":5" %}
                    <tr>
                        <td>{{ bigram_tuple.0 }}</td><td>{{ bigram_tuple.1 }}</td>
                    </tr>
                    {% endfor %}

                </table>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
                <h2>Losing Bigrams</h2>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                    {% for bigram_tuple in bigram_losers|slice:":5" %}
                    <tr>
                        <td>{{ bigram_tuple.0 }}</td><td>{{ bigram_tuple.1 }}</td>
                    </tr>
                    {% endfor %}

                </table>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/span-->
</div><!--/row-->
                   
<br>

<script>

    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart"),
        width: 150,
        height: 50,
        renderer: 'bar',
        series: [{
            data: {{ kw_new_chart|safe }},
            color: '#E9967A'
        }]
    } );



    graph.render();
    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph,
        formatter: function(series, x, y) {
            var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
            var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
            var content = swatch + "new kw count" + ": " + parseInt(y) + '<br>' + date;
            return content;
        }
    } );

    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#ips"),
        width: 150,
        height: 50,
        renderer: 'bar',
        series: [{
            data: {{ ips_chart|safe }},
            color: '#E9967A'
        }]
    } );



    graph.render();
    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph,
        formatter: function(series, x, y) {
            var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
            var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
            var content = swatch + "ip count" + ": " + parseInt(y) + '<br>' + date;
            return content;
        }
    } );
    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#se"),
        width: 150,
        height: 50,
        renderer: 'bar',
        series: [{
            data: {{ se_chart|safe }},
            color: '#E9967A'
        }]
    } );



    graph.render();
    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph,
        formatter: function(series, x, y) {
            var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
            var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
            var content = swatch + "se count" + ": " + parseInt(y) + '<br>' + date;
            return content;
        }
    } );
    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#lp"),
        width: 150,
        height: 50,
        renderer: 'bar',
        series: [{
            data: {{ lp_chart|safe }},
            color: '#E9967A'
        }]
    } );



    graph.render();
    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph,
        formatter: function(series, x, y) {
            var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
            var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
            var content = swatch + "lp count" + ": " + parseInt(y) + '<br>' + date;
            return content;
        }
    } );
    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#gnew"),
        width: 150,
        height: 50,
        renderer: 'bar',
        series: [{
            data: {{ kw_g_new_chart|safe }},
            color: '#E9967A'
        }]
    } );



    graph.render();
    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph,
        formatter: function(series, x, y) {
            var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
            var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
            var content = swatch + "g count" + ": " + parseInt(y) + '<br>' + date;
            return content;
        }
    } );
    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#grnew"),
        width: 150,
        height: 50,
        renderer: 'bar',
        series: [{
            data: {{ kw_gr_new_chart|safe }},
            color: '#E9967A'
        }]
    } );



    graph.render();
    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph,
        formatter: function(series, x, y) {
            var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
            var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
            var content = swatch + "gr count" + ": " + parseInt(y) + '<br>' + date;
            return content;
        }
    } );

    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#bnew"),
        width: 150,
        height: 50,
        renderer: 'bar',
        series: [{
            data: {{ kw_b_new_chart|safe }},
            color: '#E9967A'
        }]
    } );



    graph.render();
    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph,
        formatter: function(series, x, y) {
            var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
            var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
            var content = swatch + "bing count" + ": " + parseInt(y) + '<br>' + date;
            return content;
        }
    } );
</script>
{% endblock %}
