{% extends "base.html" %}
{% block header_scripts %}
<script language="javascript" type="text/javascript">
    $(document).ready(function() {
            var oTable = $('#example').dataTable( {
                "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "aaSorting": [[ 1, "desc" ]]
                });
            } );

</script>
{% endblock %}



{% block primary %}
<div class="span10">
    {% include "date_form.html" %}
    <div class="row-fluid">
        <div class="span12">
            <br><br>

            {% block content %}

            {% for dict in page_name %}
            <h1>{{ dict.page }}</h1>
            {% endfor %}

            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                <tr>{% for dict in page_name %}
                    <td>{{ dict.page }}</td>
                    {% endfor %}
                    <td>
                        <span class="inlinesparkline" style="width:40px;">
                            {% for dict in rankings %}
                            -{{ dict.position }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                    </td>
                </tr>
            </table>

        <h2>Kws that sent folks to this page</h2>

        {% regroup kws by phrase_id__phrase as rank_list %}

        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
            <thead>
                <tr>
                    <th>phrase</th>
                    <th>ipcount</th>
                    <th>gcount</th>
                    <th>bing</th>
                    <th>yahoo</th>
                </tr>
            </thead>
            <tbody>

                {% for phrase_id__phrase in rank_list %}
                <tr>
                    <td style="text-align:left;">
                        {{ phrase_id__phrase.grouper }}
                    </td>

                    {% for item in phrase_id__phrase.list %}
                    <td>
                        {{ item.num_ip }}
                    </td>
                    <td>
                        {{item.num_google}}
                    </td>
                    <td>
                        {{item.num_bing}}
                    </td>
                    <td>
                        {{item.num_yahoo}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </div>
    {% endblock %}


