{% extends "base.html" %}
{% block header_scripts %}
<link href="/static/css/daterangepicker.css" rel="stylesheet">
<link href="/static/css/nv.d3.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/media/date-picker/date.js"></script>
<script type="text/javascript" charset="utf-8" src="/media/date-picker/daterangepicker.js"></script>
<script src="/media/models/sparkline.js"></script>
<script src="/media/models/sparklinePlus.js"></script>
<style>
    svg {
  display: block;
}

#chart1 svg {
  height: 500px;
  min-width: 100px;
  min-height: 100px;
/*
  margin: 50px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}
</style>
<script language="javascript" type="text/javascript">
    $(document).ready(function() {
            var oTable = $('#example').dataTable( {
                "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "bPaginate": true,
                "sPaginationType": "full_numbers"
                });
            } );

        </script>

{% endblock %}

{% block primary %}
<div class="container">
    <div class="span12">
        <div class="page-header">
            {% include 'dateform.html' %}
            <h1>{{ client.0.name|upper }}</h1>
        </div>

    <div class="row">
        <div class="span12">
            <br><br>

            {% block content %}

            {% for dict in phrase_name %}
            <h1>{{ dict.phrase }}</h1>
            {% endfor %}
<div id="chart"><svg style="height: 200px;"></svg></div>
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                <tr>{% for dict in phrase_name %}
                    <td>{{ dict.phrase }}</td>
                    {% endfor %}
                    <td>
                        <span class="inlinesparkline" style="width:40px;">
                            {% for dict in rankings %}
                            -{{ dict.position }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                    </td>
                    <td>

                            {% for dict in rankings %}
                            {{ dict.position }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}

                    </td>

            </table>

            <h2>Pages accessed by this search term</h2>

            {% regroup pages by page_id__page as rank_list %}

            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                <thead>
                    <tr>
                        <th>page</th>
                        <th>rankings</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in rank_list %}
                    <tr>
                        <td>
                            <a href="/landing_pages/page/{{ page.list.0.page_id }}">{{ page.grouper }}</a>
                        </td>
                        <td>
                            <span class="inlinesparkline" style="width:40px;">
                                {% for item in page.list %}
                                -{{ item.position }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}

                        </td>
                        <td>

                                {% for item in page.list %}
                                -{{ item.position }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                {% endblock %}
            </div>

            
            <script>
nv.addGraph(function() {
  var chart = nv.models.lineChart();

     chart.xAxis
         .tickFormat(function(d) {
             return d3.time.format('%x')(new Date(d))
           });
	  
     

  chart.yAxis
  .tickFormat(d3.format(',.2f'));
  chart.forceY([0]);

 
   d3.select('#chart svg')
   .datum(data())
     .transition().duration(500)
       .call(chart);
 
   nv.utils.windowResize(chart.update);
 
   return chart;
 });

 document.write(data());
function data() {
    var data = {{ ip_chart|safe }};

  return [
    {
      values: data,
      key: "Visitors",
      color: "#E9967A"
    } ];
}

</script>
            {{ ip_chart }} 
            {% endblock %}
