{% extends "base.html" %}
{% block header_scripts %}




{% endblock %}

{% block primary %}
<div class="container">
    <div class="span12">
        <div class="page-header">
           
            <h1>Watch List</h1>
        </div>

    <div class="row">
        <div class="span12">
            <br><br>

            {% block content %}

            <p>coming soon</p>

            {% for item in watchlist %}
            <p>{{ item.phrase__phrase }}, {{ item.watchlistkwnote__note }}, {{ item.refdate }}</p>
            {% endfor %}

           <form action="" method="post">{% csrf_token %}
               {{ form.as_p }}
               {{ kw_note_formset.as_table }}
                <input type="submit" value="Submit" />
            </form>
            {% endblock %}
            </div>
            
            {% endblock %}

